@use '../../app.scss';

.location-main {
    p {
        margin: 0;
    }

    .weather-main {
        width: 100%;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        .weather-1 {
            width: 40%;
            display: flex;
            justify-content: space-around;
        }

        .weather-2 {
            width: 60%;
            display: flex;
            justify-content: space-around;

            .map {
                height: 20rem;
                width: 60%;
                margin: 1rem;
            }

            .details {
                margin: 1rem;
            }
        }

        i {
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;
        }
    }

    .next-weathers {
        width: 95%;
        margin: auto;

        .next-p {
            margin-top: 1rem;

            p {
                margin: auto;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
            }
        }

    }

}

.theme-pink {
    background-color: pink;

    i {
        color: pink;
    }
}

.theme-text-pink {
    p {
        color: pink;
    }
}

.theme-red {
    background-color: red;

    i {
        color: red;
    }
}

.theme-text-red {
    p {
        color: red;
    }
}

.theme-yellow {
    background-color: rgb(255, 213, 0);

    i {
        color: rgb(255, 213, 0);
    }
}

.theme-text-yellow {
    p {
        color: rgb(255, 213, 0);
    }
}

.theme-skyblue {
    background-color: skyblue;

    i {
        color: skyblue;
    }
}

.theme-text-skyblue {
    p {
        color: skyblue;
    }
}

.theme-green {
    background-color: green;

    i {
        color: green;
    }
}

.theme-text-green {
    p {
        color: green;
    }
}

.wronglocation {
    font-size: 3rem;
    text-align: center;
    color: red;
}

.weather-cards {
    margin-top: 1rem
}

@media only screen and (max-width: 1200px) {
    .location-main {
        .weather-main {
            flex-wrap: wrap;

            .weather-1 {
                width: 70%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
            }

            .weather-2 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;

                .map {
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .location-main {
        .weather-main {
            .weather-1 {
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
            }

            .weather-2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                .map {
                    width: 80%;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .location-main {
        .weather-main {
            .weather-2 {
                .map {
                    width: 95%;
                }
            }
        }
    }
}