@use '../../app.scss';

.form-check-input{
    height: 20px !important;
    width: 40px !important;
}

.form-check-input:checked{
    background-color: black !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";