.skyblue {
    background-color: skyblue !important;
}

.yellow {
    background-color: yellow !important;
}

.pink {
    background-color: pink !important;
}

.green {
    background-color: green !important;
}

.red {
    background-color: red !important;
}

.form-select {
    height: 30px !important;
    width: 50px !important;
    // background-image: none !important;
}

.form-select:hover {
    background-color: transparent !important;
}